
<div class="AB">

<div>
    <div class="hovereffect">
        <img class="img-responsive" src="../../assets/m11.jpg" alt="" style="height:400px; width:100%;">
        <div class="overlay">
           <h2>Gets suscribe to our Latest Feeds!</h2>
           <a class="info" href="#">
              <input type="text" name="fname" placeholder="Email address"><br>
              <button class="button" style="vertical-align:middle"><span>Suscribe</span></button>
            </a>

        </div>
    </div>
</div>

  


</div>
















